DATABASE_URL=mysql+pymysql://avnadmin:your_password@your_host:your_port/defaultdb?charset=utf8mb4

SECRET_KEY=your_secret_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

CLOUD_NAME=your_cloud_name
CLOUD_API_KEY=your_cloud_api_key
CLOUD_API_SECRET=your_cloud_api_secret

EMAIL_USER=your_email@gmail.com
EMAIL_PASSWORD=your_app_password

VITE_API_URL=https://web-production-35f02.up.railway.apps/api